<style>
    <%- myCss.style %>
</style>

<h1>Full Cycle Rocks!</h1>

<hr>

<div id="name-generated">
    <p>name generated:</p>
    <h2>
        <%= randomName %>
    </h2>
</div>

<hr>

<h2>People</h2>

<div>
    <ul>
        <% people.forEach(function(person){ %>
            <li>
                <a href="#">
                    <%= person.name %>
                </a>
            </li>
            <% }); %>
    </ul>
</div>